CREATE TABLE IF NOT EXISTS public.momentos ( id UUID PRIMARY KEY DEFAULT gen_random_uuid(), user_id UUID REFERENCES auth.users(id), media_url TEXT NOT NULL, media_type TEXT NOT NULL, caption TEXT, status TEXT DEFAULT 'pendente', created_at TIMESTAMPTZ DEFAULT now() );
